{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
<div class="container">
    <table class="table-bordered mt-4">
        <thead class="bg-dark text-white mr-auto">
            <th>ID</th>
            <th>Titre</th>
            <th>Couverture</th>
            <th>Résumé</th>
            <th><i class="fa fa-cog"></i></th>
        </thead>
        <tbody>
            {% for livre in livres %}
                <tr>
                    <td>{{ livre.id }}</td>
                    <td>{{ livre.titre }}</td>
                    <td>{{ livre.couverture }}</td>
                    <td>{{ livre.resume }}</td>
                    <td>
                        <a href="{{ path("app_livre_modifier", {id: livre.id}) }}">
                        <i class="fa fa-edit"></i>
                        </a>
                        <a href="{{ path('app_livre') }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun livre enregistré</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
